.wrapper {
  margin: 25px 0px;
  font-size: 14px;

  & select, input {
    font-size: 14px;
    max-width: 224px;
  }
}

.selectsWrapper {
  margin-bottom: 30px;
}

.mapChoose {
  margin-bottom: 20px;
}

.mapStyles {
  width: 80%;
  height: 350px;
}

@media screen and (max-width: 1090px) {
  .mapStyles {
    width: 100%;
  }
}