.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 30;
  background: #111518;
  transition: all 0.3s ease;
}

.opened {
  left: 0;
}

.closed {
  left: -100%;
}

@media (min-width: 1024px) {
  .navOpen {
    right: 50%;
  }

  .wrapper {
    width: 50%;
  }
}

.nav {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

@media (min-width: 640px) {
  .nav {
    margin-left: 96px;
  }
}

.ul {
  display: flex;
  flex-direction: column;
}

.socialsUl {
  display: flex;
  margin-top: 36px;
}

.link {
  color: #ffffff;
  font-size: 32px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: 500;
}

.linksMargin {
  margin-bottom: 16px;
}

.link:hover {
  color: var(--primary-green);
}

.socialsLink {
  fill: white;
}

.socialsLink:hover {
  fill: var(--primary-green);
}
