.container {
  max-width: 1600px;
  margin: 0px auto;
  width: 100%;
  padding: 0px 15px;
}

.breadcrumpsContainer {
  max-width: 1600px;
  margin: 10px auto;
  width: 100%;
}

.section {
  width: 100%;
}

.contentWrapper {
  display: flex;
}

@media screen and (max-width: 1090px) {
  .contentWrapper {
    flex-direction: column;
  }
}
