.container {
  max-width: 1600px;
  margin: 0px auto;
  width: 100%;
}

.breadcrumpsContainer {
  max-width: 1600px;
  margin: 10px auto;
  width: 100%;
}

.section {
  width: 100%;
}

.contentWrapper {
  display: flex;
}
