.selectWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.wrapper {
  max-width: 300px;
}

.input {
  border: none;
  border-bottom: 1px solid var(--gray-dark);
  background: transparent;
  padding: 5px 10px;
  width: 100%;
  outline: none;
  font-size: 16px;
}

.input::placeholder {
  font-size: 16px;
}

.input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
  background: url('../../assets/images/CloseIcon.svg');
  margin-right: 6px;
  margin-bottom: 2px;
  cursor: pointer;
}

.option {
  width: 100%;
  z-index: 999;
  background: white;
  border: none;
  padding: 12px;
  font-size: 14px;
  text-align: start;
  cursor: pointer;
  transition: all 0.3s ease;
}

.optionActive {
  color: var(--primary-green);
}

.option:hover {
  color: var(--primary-green);
}

.optionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-height: 200px;
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 888;
  overflow: auto;
  background: #fff;
  border: 1px solid var(--gray-dark);
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.optionWrapperOpen {
  opacity: 1;
  pointer-events: all;
}

.optionWrapper::-webkit-scrollbar {
  border-left: 1px solid var(--gray-dark);
  max-width: 5px;
}

.optionWrapper::-webkit-scrollbar-thumb {
  background: var(--gray-dark);
  border: 0.1px solid var(--gray-dark);
  border-radius: 999px;
}

.notFound {
  padding: 15px;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}
