.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px 10px;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .header {
    flex-direction: column;
    align-items: end;
  }
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: var(--primary-green);
}
