.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px 0px;
  max-width: 1600px;
  margin: 0 auto;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: var(--primary-green);
}
