.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 20;
  transition: all 0.3s ease;
  background: rgba(17, 21, 24, 0.8);
}

.sidebar {
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: center;
  min-width: 65px;
  z-index: 200;
}

.asideWrapper {
  z-index: 1000;
}

@media (min-width: 640px) {
  .sidebar {
    background: #111518;
    position: fixed;
  }
  .overlay {
    display: block;
  }
  .asideWrapper {
    min-width: 65px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 90%;
  max-height: 90%;
  margin: auto 0;
}

.buttonMenu {
  z-index: 10000;
}

@media (min-width: 640px) {
  .buttonMenu {
    display: block;
    position: relative;
  }
}

.menuLight {
  stroke: white;
}

.menuDark {
  stroke: black;
}

@media (min-width: 640px) {
  .menuDark {
    stroke: white;
  }
}

.language {
  display: block;
  z-index: 9999;
}

.hidden {
  display: none;
}

.displayed {
  display: block;
}

@media (min-width: 640px) {
  .hidden {
    display: block;
  }
  .displayed {
    display: none;
  }
}
