.footer {
  display: flex;
  flex-direction: column;
  background: black;
  align-items: flex-end;
  padding: 24px;

  @media (min-width: 640px) {
    & {
      flex-direction: row;
      background: transparent;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin-bottom: 15px;
    }
  }
}

.footerPhone,
.footerText {
  font-size: 13px;
}

.footerText {
  color: #eeeeee;

  @media (min-width: 640px) {
    & {
      color: var(--gray-dark);
    }
  }
}


.footerPhone {
  color: var(--primary-green);

  @media (min-width: 640px) {
    & {
      color: var(--primary-black);
    }
  }

}
