.span {
  color: var(--gray-dark);
  font-weight: bold;
}

.link {
  color: var(--gray-dark);
  font-weight: bold;
  transition: all 0.3s ease;
}

.link:hover {
  color: var(--primary-green);
}

.current {
  color: var(--primary-green) !important;
}

.passed {
  color: var(--primary-black);
}

.ul {
  display: flex;
  flex-wrap: wrap;

}

.list {
  display: flex;
  align-items: center;
  font-size: 14px;

  @media screen and (max-width: 400px) {
    & {
      font-size: 13px;
    }
  }

  &:last-child:after {
    display: none;
  }

  &:after {
    content: url("../../assets/icons/Arrow.svg");
    margin: 0px 20px;
  }
  
}

.arrow {
  margin: 0px 20px;
}