.wrapper {
  min-width: 380px;
  border-left: 2px solid #eeeeee;
  padding: 30px 0px 0px 30px;

  @media screen and (max-width: 1090px) {
    & {
      border-top: 2px solid #eeeeee;
      border-left: none;
      padding: 30px 0px 20px 0px;
    }
  }
}

.optionsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  margin-bottom: 30px;
}

.title {
  color: var(--primary-black);
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  margin-bottom: 25px;
}

.optionName {
  color: var(--primary-black);
  font-size: 14px;
  font-weight: 300;
}

.optionSeparator {
  color: var(--gray-dark);
  width: 40%;
  text-align: center;
  border: none;
  border-bottom: 2px dotted var(--gray-dark);
  margin: 0px 11px;
}

.optionValue {
  text-align: right;
  color: var(--gray-dark);
  font-weight: 300;
  font-size: 14px;
}

.price { 
  font-weight: 500;

  &Wrapper {
    margin-bottom: 30px;
  }
}


.nextBtn {
  width: 100%;
  padding: 13px 0px;
  width: 287px;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
  background: linear-gradient(90deg, #0EC261 0%, #039F67) 100%;

  &Wrapper {
    display: flex;
    justify-content: center;
  }

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }
}

.orderInfoItemWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
